/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* inter-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/inter-v12-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('./assets/fonts/inter-v12-latin-regular.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/inter-v12-latin-700.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('./assets/fonts/inter-v12-latin-700.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-900 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('./assets/fonts/inter-v12-latin-900.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('./assets/fonts/inter-v12-latin-900.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* My Styles */

body {
  padding: 1rem;
  font-family: Inter, sans-serif;
  color: hsl(236, 13%, 42%);
  font-size: 15px;
}

.text-black {
  color: hsl(240, 100%, 5%);
}

.text-white {
  color: white;
}

aside {
  background-color: hsl(240, 100%, 5%);
  padding: 1rem;
}

aside>p {
  color: hsl(35, 77%, 62%);
  font-weight: 700;
  font-size: 1.5rem;
}

h3 {
  padding-top: 1.3rem;
}

h3:hover {
  color: hsl(35, 77%, 62%);
  cursor: pointer;
}

h3+p {
  color: hsl(233, 8%, 79%);
  padding-top: .2rem;
  padding-bottom: .4rem;
}

h3+p:not(#last-p) {
  padding-bottom: 2rem;
  border-bottom: 1px solid hsl(236, 13%, 42%);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
}

main {
  margin-bottom: 16%;
}

button.text-white {
  background-color: hsl(5, 85%, 63%);
  border: unset;
  font-size: 17px;
  font-weight: 500;
  padding: .7rem 1.7rem;
  letter-spacing: 4px;
}

h1 {
  margin-top: 7%;
  margin-bottom: 5%;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 100%;
}

h1+p {
  margin-bottom: 7%;
}


button.text-white:hover {
  cursor: pointer;
  background-color: hsl(240, 100%, 5%);
}

#bottom {
  margin: 4rem 0;
}

.news {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.news>div {
  flex: 2 1 auto;
  margin-left: 1.3rem;
}

.news>img {
  width: 7em;
  flex: 1 1 auto;

}

.news>div>div {
  font-size: 1.8rem;
  font-weight: 700;
  color: hsl(233, 8%, 79%);
}

.news>div>h4 {
  font-size: 17px;
  margin-bottom: .3rem;
}

.news>div>h4:hover {
  color: hsl(5, 85%, 63%);
  cursor: pointer;
}

@media (min-width: 319px) {
  nav>a {
    padding: 1em 2em;
    padding-right: 29vw;
    display: block;
    color: black;
    text-align: start;
    font-weight: 500;
    font-size: 17px;
  }
    nav>a:first-child {
      margin-top: 7rem;
    }
    nav>a:hover {
      color: azure;
      background-color: tomato;
    }
  .icon-menu {
    position: relative;
    z-index: 10;
  }

  .icon-menu>img {
    vertical-align: top;
    cursor: pointer;
  }

  .icon-menu+nav {
    background-color: rgb(251, 251, 251);
    box-shadow: 1px 2px 15px 2px rgb(214, 212, 212);
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    transition: all .5s ease;
    height: 100vh;
  }
  .active {
    transform: translate(16rem);
  }
  .opacity-bg{
    background-color: rgba(1, 1, 1, 0.5);
    transition: all 0.4 ease;
  }
    #mid {
      margin-top: 3.5%;
    }
}
@media (min-width: 460px) {
  .active {
      transform: translate(20rem);
    }
}

@media (min-width: 690px) {
  .icon-menu {
    display: none;
  }
  .icon-menu+nav {
      all: unset !important;
      display: flex !important;
  }
  header>nav>a:first-child {
    margin-top: 0;
  }
  header>nav>a:hover {
  color: hsl(5, 85%, 63%);
  cursor: pointer;
}
nav>a {
all: unset;
  padding: 0 1.2rem !important;
}
}

@media (min-width: 1000px) {
  body {
    font-size: 18px;
  }

  nav>a {
    color: inherit;
    padding: 0 1em;
    font-size: 19px;
  }

  nav>a:hover {
    color: hsl(5, 85%, 63%);
    background-color: unset;
  }

  nav>a:visited {
    text-decoration: inherit;
  }

  #mid {
    margin-top: 3.5%;
  }

  article {
    display: flex;
    align-items: center;
  }

  h1.text-black {
    margin: 1.5rem 0;
    min-width: 23rem;
    line-height: 3rem;
  }

  button.text-white {
    margin-top: 1.3em;
    padding: .5rem 1.4rem;
    letter-spacing: 4px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    padding: 2.5% 10%;
    font-size: 15px;
  }

  main>picture {
    max-width: 96%;
  }

  #mid {
    display: flex;
  }

  article {
    margin-top: 3%;
    max-width: 93%;
  }

  h1.text-black {
    line-height: 2.9rem;
    font-size: 6vmin;
    min-width: 15rem;
    margin: 0;
    margin-right: 1.4em;
  }

  aside {
    min-width: 29%;
    margin-right: 1rem;
  }

  aside>p {
    font-size: 1.3rem;
  }

  aside p:first-child {
    font-size: 2rem;
  }

  main {
    margin-bottom: 0;
  }

  button.text-white {
    margin-top: 1.3em;
    padding: .5rem 1.4rem;
    letter-spacing: 4px;
  }

  #bottom {
    display: flex;
    margin: 3rem 0;
    margin-bottom: 0;
    justify-content: space-between;
  }

  .news {
    max-width: 31%;
  }
}

@media screen and (min-width: 1400px) {
  body {
    font-size: 17px;
  }

  h1.text-black {
    font-size: 5vmin;
  }
}