/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* inter-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/inter-v12-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('./assets/fonts/inter-v12-latin-regular.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/inter-v12-latin-700.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('./assets/fonts/inter-v12-latin-700.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-900 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('./assets/fonts/inter-v12-latin-900.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('./assets/fonts/inter-v12-latin-900.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

header {
  border: 1px solid red;
}
#mid {
  border: 1px solid green;
}
#bottom{
  border: 1px solid blue;
}
aside {
  border: 1px solid goldenrod;
}
.news{
  border: 1px solid orangered;
}
nav {
  border: 1px solid purple;
}

/* My Styles */

body{
  padding: 1rem;
  font-family: Inter, sans-serif ;
  color: hsl(236, 13%, 42%);
  font-size: 15px;
}

.text-black {
  color: hsl(240, 100%, 5%);
}
.text-white {
  color: white;
}
aside {
  background-color: hsl(240, 100%, 5%);
  padding: 1rem;
}
aside > p {
  color: hsl(35, 77%, 62%);
  font-weight: 700;
  font-size: 1.5rem;
}
h3 {
  padding-top: 1.3rem;
}
h3 + p {
  color: hsl(233, 8%, 79%);
  padding-top: .2rem;
  padding-bottom: .4rem;
}
h3 + p:not(#last-p) {
    padding-bottom: 2rem;
    border-bottom: 1px solid hsl(236, 13%, 42%);
}
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header a {
  text-decoration: none;
}

main{
  margin-bottom: 16%;
}

h1 {
  margin-top: 7%;
  margin-bottom: 5%;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 100%;
}

h1 + p {
  margin-bottom: 7%;
}

button.text-white {
  background-color: hsl(5, 85%, 63%);
  border: unset;
  font-size: 17px;
  font-weight: 500;
  padding: .7rem 1.7rem;
  letter-spacing: 4px;
}
button.text-white:hover {
  cursor: pointer;
}

#bottom {
  margin: 4rem 0;
}

.news {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.news > div {
  flex: 2 1 auto;
  margin-left: 1.3rem;
}

.news > img {
  width: 7em;
  flex: 1 1 auto;

}

.news > div > div {
  font-size: 1.8rem;
  font-weight: 700;
  color: hsl(233, 8%, 79%);
}
.news>div> h4 {
  font-size: 17px;
  margin-bottom: .3rem;
}


@media(max-width: 600px){


}